* {
	box-sizing: border-box;
}
#wrapper {
	/*width: 100%;
	margin: auto;*/
	background-image: url("C:/Users/ehill/Pictures/WebDev/OnesAndZeroes-1000x730.jpg");
	background-repeat: repeat;
	border: solid 2px black;
	border-radius: 10px 10px 10px 10px;
	}
/*#navbar {
			background-image: url("C:/Users/ehill/Pictures/WebDev/OnesAndZeroes-2000x1460.jpg");
			background-repeat: repeat;*
			height: 100px;
		}*/
h1, h2, h3 {
	color: #ffffaa;
	}

.my-row {
			color: #ffffaa;
		}
nav {
	display: flex;
}
.portfolio-link-nav {
	margin: 0 5px;
	padding: 10px 10px;
	border-radius: 5px;
	border-bottom: 2px solid white;
	background-color: /*#b3c6ff;*/black;
	background-image: url("C:/Users/ehill/Pictures/WebDev/OnesAndZeroes-187x125.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
	text-align: center;
	color: #ffffaa;
	align-items: stretch;
	width: 100%;
	}
a:hover, a:focus, a:active {
	color: red;
	text-decoration: none;
}
.my-col-footer1, .my-col-footer2, .my-col-footer3 {
	text-align: center;
}
/*.my-col-photo {
	width: 100%;
	height: auto;
}*/
/*.flex-about {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/
.photo-inline {
	display: block;
}
.my-col-footer2 > a {
	color: #ffffaa;
}
.Eric {
	border-radius: 20px;
}
.my-col-contact, .my-col-projects, .my-col-about, .my-col-greeting {
	text-align: center;
	font-size: 8em;
}
/*.my-col-projects {
	text-align: center;
	font-size: 8em;
}
.my-col-about {
	text-align: center;
	font-size: 8em;
}
.my-col-greeting {
	text-align: center;
	font-size: 8em;
}*/
.figcaption {
	text-align: center;
}
.my-card-text {
	color: black;
}