* {
	box-sizing: border-box;
}
#wrapper {
	width: 100%;
	margin: auto;
	background-image: url("C:/Users/ehill/Pictures/WebDev/OnesAndZeroes-1000x730.jpg");
	background-repeat: repeat;
	border: solid 2px black;
	border-radius: 10px 10px 10px 10px;
	}
/*#navbar {
			background-image: url("C:/Users/ehill/Pictures/WebDev/OnesAndZeroes-2000x1460.jpg");
			background-repeat: repeat;*
			height: 100px;
		}*/
h1 {
	color: #ffffaa;
	}

.my-row {
			color: #ffffaa;
		}
nav {
	display: flex;
}
.portfolio-link-nav {
	margin: 0 5px;
	padding: 10px 10px;
	border-radius: 5px;
	border-bottom: 2px solid white;
	background-color: /*#b3c6ff;*/black;
	background-image: url("C:/Users/ehill/Pictures/WebDev/OnesAndZeroes-187x125.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
	text-align: center;
	color: #ffffaa;
	align-items: stretch;
	width: 100%;
	}
a:hover, a:focus, a:active {
	color: red;
	text-decoration: none;
}
.my-col-footer1, .my-col-footer2, .my-col-footer3 {
	text-align: center;
}
.my-col-photo {
	width: 100%;
}
.my-col-footer2 > a {
	color: #ffffaa;
}
